In [15]:
import pandas as pd
procedures = 'D:/New folder/procedures.csv'

# Read the CSV file as a DataFrame
procedure_df = pd.read_csv(procedures)
procedure_df.head()

     PetID   Date ProcedureType  ProcedureSubCode
0  T0-3277  42391  VACCINATIONS                 5
1  G6-6501  42398  VACCINATIONS                 5
2  P9-3625  42399    ORTHOPEDIC                 7
3  F1-1855  42402  VACCINATIONS                 5
4  S1-2243  42404  VACCINATIONS                 5

In [16]:
# Replace 'your_file_path.csv' with the path to your CSV file
procedure_details = 'D:/New folder/procedure_details.csv'

# Read the CSV file as a DataFrame
pd_df = pd.read_csv(procedure_details)
pd_df.head()

  ProcedureType  ProcedureSubCode  Description  Price
0   OFFICE FEES                 1  Office Call     32
1   OFFICE FEES                 2    Emergency    100
2   OFFICE FEES                 3         Reck     24
3      GROOMING                 1         Bath     15
4      GROOMING                 2     Flea Dip     15

In [17]:
# Replace 'your_file_path.csv' with the path to your CSV file
pets = 'D:/New folder/pets.csv'

# Read the CSV file as a DataFrame
pets_df = pd.read_csv(pets)
pets_df.head()

     PetID     Name    Kind  Gender  Age  OwnerID
0  J6-8562   Brandy     Dog    male   11     5168
1  Q0-2001   Roomba     Cat    male    9     5508
2  M0-2904    Simba     Cat    male    1     3086
3  R3-7551   Keller  Parrot  female    2     7908
4  P2-7342  Cuddles     Dog    male   13     4378

In [18]:

# Replace 'your_file_path.csv' with the path to your CSV file
owners = 'D:/New folder/owners.csv'

# Read the CSV file as a DataFrame
owners_df = pd.read_csv(owners)
owners_df.head()

,OwnerID,Name,Surname,StreetAddress,City,State,StateFull,ZipCode
0,6049,Debbie,Metivier,315 Goff Avenue,Grand Rapids,MI,Michigan,49503
1,2863,John,Sebastian,3221 Perry Street,Davison,MI,Michigan,48423
2,3518,Connie,Pauley,1539 Cunningham Court,Bloomfield Township,MI,Michigan,48302
3,3663,Lena,Haliburton,4217 Twin Oaks Drive,Traverse City,MI,Michigan,49684
4,1070,Jessica,Velazquez,3861 Woodbridge Lane,Southfield,MI,Michigan,48034

In [19]:
#What is the name of the oldest dog in Southfield?
#Filter the kind column initially
pets_dogs = pets_df[pets_df['Kind'] =='Dog']
#sort the result by age column descending
pets_sorted = pets_dogs.sort_values(by='Age', ascending=False)
# print the first row after sorting
oldest_dog = pets_sorted.iloc[0]
print(oldest_dog)

PetID      N8-0553
Name         Tiger
Kind           Dog
Gender        male
Age             15
OwnerID       7393
Name: 42, dtype: object

In [20]:
#What is the average (mean) number of pets per city?
#initially merge the owners and pets dataframes using ownerid column
merged_df = pd.merge(owners_df, pets_df, on='OwnerID')
#Group by city column and find the mean
avg_pets_per_city = merged_df.groupby('City')['PetID'].count().mean()
avg_pets_per_city

2.5

In [21]:
#How many owners spent 20 dollars or more on procedures for their pets? 


# Merge procedure_df and procedure_detail_df on 'ProcedureType' and 'ProcedureSubCode' to get the expenses for each procedure
merged_df = procedure_df.merge(pd_df, on=['ProcedureType', 'ProcedureSubCode'], how='left')

# Calculate the total expenses for each pet by grouping by 'PetID' and summing the 'Price' column
pet_expenses_df = merged_df.groupby('PetID')['Price'].sum().reset_index()

# Merge pets_df and pet_expenses_df on 'PetID' to get the owners' expenses for each pet
owner_expenses_df = pets_df.merge(pet_expenses_df, on='PetID', how='left')

# Calculate the total expenses for each owner by grouping by 'OwnerID' and summing the 'Price' column
owner_total_expenses = owner_expenses_df.groupby('OwnerID')['Price'].sum().reset_index()

# Filter the owners who spent 20 dollars or more
owners_spent_20_or_more = owner_total_expenses[owner_total_expenses['Price'] >= 20]

# Count the number of owners who spent 20 dollars or more
num_owners_spent_20_or_more = len(owners_spent_20_or_more)

print("Number of owners who spent 20 dollars or more on procedures for their pets:", num_owners_spent_20_or_more)

Number of owners who spent 20 dollars or more on procedures for their pets: 12

In [22]:

# Find the owner who spent the most on procedures for their pet(s)
max_expenses_owner = owner_total_expenses.loc[owner_total_expenses['Price'].idxmax()]

# Find the owner details based on the OwnerID from owner_details_df
max_expenses_owner_details = owners_df.loc[owners_df['OwnerID'] == max_expenses_owner['OwnerID']]

print("Owner who spent the most on procedures for their pet(s):")
print(max_expenses_owner_details)

Owner who spent the most on procedures for their pet(s):
    OwnerID    Name Surname        StreetAddress          City State  \
70     8316  Daniel     Fay  894 Twin Oaks Drive  Grand Rapids    MI

   StateFull  ZipCode
70  Michigan    49503

In [23]:

#How many owners have at least two different kinds of pets (e.g. a dog and a cat)?
# Merge pets_df and owner_details_df on 'OwnerID' to get the owner details for each pet
owner_pets_df = pets_df.merge(owners_df, on='OwnerID', how='left')

# Group the data by 'OwnerID' and count the number of unique 'Kind' values for each owner
owners_pet_counts = owner_pets_df.groupby('OwnerID')['Kind'].nunique().reset_index()

# Filter the owners who have at least two different kinds of pets
owners_with_multiple_kinds = owners_pet_counts[owners_pet_counts['Kind'] >= 2]

# Get the count of owners who have at least two different kinds of pets
num_owners_with_multiple_kinds = len(owners_with_multiple_kinds)

print("Number of owners with at least two different kinds of pets:", num_owners_with_multiple_kinds)

Number of owners with at least two different kinds of pets: 4

In [24]:
#How many owners have pets where the first letter of their name (OwnerName) matches the first letter of their pet's name (PetName)? E.g. Cookie and Charles.
import pandas as pd

# Assuming you have the pets_df and owner_details_df DataFrames

# Merge pets_df and owner_details_df on 'OwnerID' to get the owner details for each pet
owner_pets_df = pets_df.merge(owners_df, on='OwnerID', how='left')

# Filter the rows where the first letter of OwnerName matches the first letter of PetName
matching_first_letter_df = owner_pets_df[owner_pets_df['Name_y'].str[0].str.lower() == owner_pets_df['Name_x'].str[0].str.lower()]

# Count the number of unique OwnerID values for the filtered rows
num_owners_with_matching_first_letter = len(matching_first_letter_df['OwnerID'].unique())

print("Number of owners with pets where the first letter of their name matches the first letter of their pet's name:", num_owners_with_matching_first_letter)

Number of owners with pets where the first letter of their name matches the first letter of their pet's name: 8

In [25]:
#What percentage of pets received a vaccination?
# Merge procedure_df and pets_df on 'PetID' to get the procedure details for each pet
merged_df = pets_df.merge(procedure_df, on='PetID', how='left')

# Filter the rows where the 'ProcedureType' is 'VACCINATIONS'
vaccinated_pets_df = merged_df[merged_df['ProcedureType'] == 'VACCINATIONS']

# Count the number of vaccinated pets
num_vaccinated_pets = len(vaccinated_pets_df)

# Get the total number of pets
total_num_pets = len(pets_df)

# Calculate the percentage of pets that received a vaccination
percentage_vaccinated = (num_vaccinated_pets / total_num_pets) * 100

print("Percentage of pets that received a vaccination:", percentage_vaccinated, "%")

Percentage of pets that received a vaccination: 28.999999999999996 %

In [26]:
#What percentage of cities have more male pets than female pets?
# Merge pets_df and owner_details_df on 'OwnerID' to get the owner details for each pet
owner_pets_df = pets_df.merge(owners_df, on='OwnerID', how='left')

# Group the data by 'City' and count the number of male and female pets in each city
pet_counts_by_city = owner_pets_df.groupby('City')['Gender'].value_counts().unstack().fillna(0)

# Calculate the percentage of cities where the number of male pets is greater than the number of female pets
num_cities_more_male_pets = len(pet_counts_by_city[pet_counts_by_city['male'] > pet_counts_by_city['female']])
total_num_cities = len(pet_counts_by_city)
percentage_more_male_pets = (num_cities_more_male_pets / total_num_cities) * 100

print("Percentage of cities with more male pets than female pets:", percentage_more_male_pets, "%")

Percentage of cities with more male pets than female pets: 57.49999999999999 %

In [27]:
#Which city's pet sample is made up of exactly 70% dogs? The answer is case sensitive, so please match the value for City exactly.

# Merge pets_df and owner_details_df on 'OwnerID' to get the owner details for each pet
owner_pets_df = pets_df.merge(owners_df, on='OwnerID', how='left')

# Group the data by 'City' and 'Kind' to count the number of each kind of pet in each city
pet_counts_by_city_kind = owner_pets_df.groupby(['City', 'Kind']).size().unstack(fill_value=0)

# Calculate the percentage of dogs in each city
pet_counts_by_city_kind['Percentage_Dogs'] = (pet_counts_by_city_kind['Dog'] / pet_counts_by_city_kind.sum(axis=1)) * 100

# Find the city where the percentage of dogs is exactly 70%
city_with_70_percent_dogs = pet_counts_by_city_kind[pet_counts_by_city_kind['Percentage_Dogs'] == 70].index[0]

print("City with exactly 70% dogs in the pet sample:", city_with_70_percent_dogs)

City with exactly 70% dogs in the pet sample: Grand Rapids